<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rasa智能助手</title>
    <link rel="stylesheet" href="./chat.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="frame">
            <div class="title">Rasa智能助手</div>
            <div class="body">
                <div class="messages" v-for="item in message">
                    <div class="user" v-if="item.sender">{{item.message}}</div>
                    <div class="assistant" v-if="item.recipient_id">{{item.text}}</div>
                    <div class="echarts" v-if="item.echarts" :class="item.echarts"></div>
                </div>
            </div>
            <div class="footer">
                <div class="footer-left">
                    <textarea class="input" v-model="input" @keyup.enter="submit"></textarea>
                </div>
                <div class="footer-right">
                    <button class="btn" @click="submit">提交</button>
                    <button class="btn" @click="clear">清空</button>
                </div>
            </div>
        </div>
    </div>

    <script src="./chat.js"></script>
</body>

</html>