#app {
    position: absolute;
    inset: 0;
}

/* 肩部 */
.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 520px;
    height: 80%;
    border: 1px solid gray;
    border-radius: 8px;
}

.title {
    height: 80px;
    line-height: 80px;
    color: gray;
    font-size: 24px;
    text-align: center;
}

/* 臀部 */
.body {
    height: calc(100% - 180px);
    overflow: auto;
}

.body::-webkit-scrollbar {
    display: none;
}

.user {
    margin: 10px;
    padding: 10px;
    border-radius: 8px 0 0 8px;
    background-color: gray;
}

.assistant {
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 0 8px 8px 0;
}

.echarts {
    height: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 0 8px 8px 0;
}

.chat-wait {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 0 8px 8px 0;
}

.dot {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 5px;
    border-radius: 100%;
    background-color: #B4B4BE;
    transform: scale(0);
    animation: shrink_grow 1.2s ease infinite;
}

.dot-2 {
    animation-delay: 0.2s;
}

.dot-3 {
    animation-delay: 0.4s;
}

@keyframes shrink_grow {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

/* 脚部 */
.footer {
    height: 80px;
    margin-top: 20px;
    display: flex;
}

.footer-left {
    width: 80%;
    height: 100%;
}

.footer-left .input {
    width: 390px;
    height: 60px;
    margin: 0 0 0 10px;
}

.footer-right {
    width: 20%;
    height: 100%;
}

.footer-right .btn {
    width: 80px;
    height: 30px;
    margin: 0 0 5px 10px;
    font-size: 14px;
}